@tailwind base;
@tailwind components;
@tailwind utilities;
/* default css */
/* pc */
.container{
    width: 65%;
    max-width: 720px;
    margin: 0 auto;
}
/* mobile */
@media screen and (max-width:500px) {
    .container{
        width: 95%;
        max-width: 720px;
        margin: 0 auto;
    }
}
    /* tab */
@media screen and (min-width:500px) and (max-width:768px) {
    .container{
        width: 85%;
        max-width: 720px;
        margin: 0 auto;
    }
}
/* ----------- */
/* ===========header Part========== */
#header{
    position:relative;
}
#header::before {
	content: '';
	position: absolute;
	bottom: 0.1rem;
	left: 50%;
	transform: translateX(-50%);
	height: 1px;
	width: 100%;
	box-shadow: 0 -2px 5px 0 #000;
	background: #999;
}
#header .row .col .logo-txt{
    position: relative;
}
#header .row .col .logo-txt::before{
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 16rem;
    box-shadow: 0 -2px 5px 0 #000;
    background: #555;

}
.logo-txt p:first-child,.footer-logo-txt p:first-child{
    -webkit-text-stroke: 0.5px #222;
}
.logo-txt p:last-child,.footer-logo-txt p:last-child{
    color: #ad0808;
    animation: logo 4s ease-in-out infinite;
}
@keyframes logo{
    0%,100%{
        clip-path: polygon(39% 47%, 48% 64%, 59% 74%, 80% 77%, 100% 69%, 100% 100%, 0 100%, 0 38%, 19% 36%);
    }
    50%{        
        clip-path: polygon(38% 72%, 56% 66%, 68% 53%, 86% 48%, 100% 49%, 100% 100%, 0 100%, 0 65%, 19% 73%);
    };
}